.labelTextAreaWrapper {
    display: inline-block;
    width: 100%;

    .inputWrapper {
        position: relative;
        display: flex;
        width: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        transition: all 0.3s;

        &:hover {
            border-color: #4096ff;
        }

        .label {
            flex-shrink: 0;
            padding: 4px 8px;
            color: rgba(0, 0, 0, 0.45);
            
            .required {
                color: #ff4d4f;
                margin-right: 4px;
                font-family: SimSun, sans-serif;
            }
        }

        .textarea {
            flex: 1;
            border: none;
            
            &:focus {
                box-shadow: none;
            }
        }
    }
}