body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.ant-layout-header {
  padding: 0 24px !important;
  background-color: rgba(0, 80, 173, 1) !important;
}

h2 {
  margin-bottom: 24px;
}

.ant-layout-sider {
  overflow: hidden !important;
}

.ant-menu {
  overflow: auto !important;
  height: calc(100% - 48px) !important;
}

.ant-menu::-webkit-scrollbar {
  width: 6px;
}

.ant-menu::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.ant-menu::-webkit-scrollbar-track {
  background: transparent;
}

.ant-layout-sider-trigger {
  margin-top: auto !important;
  position: sticky !important;
  bottom: 0 !important;
}

.ant-menu-inline {
  border-right: none !important;
}

.ant-menu-inline-collapsed>.ant-menu-item,
.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
  transition: all 0.2s !important;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
  transition: all 0.2s !important;
}

.ant-tabs-tab {
  font-size: 14px !important;
}

.ant-modal-header {
  margin-bottom: 16px !important;
}

/* 攻击日志表格样式 */
.attack-logs-table {
  position: relative;
}

.attack-logs-table .ant-table-container {
  z-index: auto;
}

.attack-logs-table .ant-table-cell-fix-right {
  background: #fff;
}

.attack-logs-table .ant-table-cell {
  white-space: nowrap;
}

.attack-logs-table .ant-table-body {
  overflow-y: auto !important;
}

.attack-logs-table .ant-table-header {
  margin-bottom: 0 !important;
  overflow: hidden !important;
}

.attack-logs-table .ant-table-sticky-scroll {
  display: none !important;
}

.attack-logs-table .ant-table-cell-fix-left,
.attack-logs-table .ant-table-cell-fix-right {
  z-index: 2;
}

.attack-logs-table .ant-table-header .ant-table-cell-fix-left,
.attack-logs-table .ant-table-header .ant-table-cell-fix-right {
  z-index: 3;
}

/* 外联日志表格样式 */
.external-logs-table {
  position: relative;
}

.external-logs-table .ant-table-container {
  z-index: auto;
}

.external-logs-table .ant-table-cell-fix-right {
  background: #fff;
}

.external-logs-table .ant-table-cell {
  white-space: nowrap;
}

.external-logs-table .ant-table-body {
  overflow-y: auto !important;
}

.external-logs-table .ant-table-header {
  margin-bottom: 0 !important;
  overflow: hidden !important;
}

.external-logs-table .ant-table-sticky-scroll {
  display: none !important;
}

/* 控制固定列的z-index层级 */
.external-logs-table .ant-table-cell-fix-left,
.external-logs-table .ant-table-cell-fix-right {
  z-index: 1;
}

.external-logs-table .ant-table-header .ant-table-cell-fix-left,
.external-logs-table .ant-table-header .ant-table-cell-fix-right {
  z-index: 2;
}