.labelSelect {
    width: 100%;

    :global(.ant-select-selector) {
        padding-left: 8px !important;
    }

    :global(.ant-select-selection-search) {
        left: 8px !important;
    }

    :global(.ant-select-prefix) {
        margin-right: 17px;
    }
}

.label {
    color: rgba(0, 0, 0, 0.45);
    
    .required {
        color: #ff4d4f;
        margin-right: 4px;
        font-family: SimSun, sans-serif;
    }
}